[submodule "kubernetes/cluster/platform-resource-manager"]
	path = kubernetes/cluster/platform-resource-manager
	url = git@github.com:alexorfanoud/platform-resource-manager.git
[submodule "kubernetes/cluster/intel-cmt-cat"]
	path = kubernetes/cluster/intel-cmt-cat
	url = git@github.com:alexorfanoud/intel-cmt-cat.git
[submodule "kubernetes/wca"]
	path = kubernetes/wca
	url = git@github.com:alexorfanoud/workload-collocation-agent.git
